.background {
  background-color: #c4c4c463;
  margin: 50px;
  border-radius: 25px;
  padding: 50px;
}
.margin{
    margin: 30px 0 0; 
}
.texts{
    margin: 0 0 30px; 
}
.line{
    border: solid black 1px;
}
.textfields{
    margin: 30px 0;
}