/* Navbar Section */
.navbar-nav > li {
  padding-left: 30px;
  padding-right: 105px;
}
li:hover {
  text-decoration: underline;
}
#first {
  border-left: 2px solid #000;
  padding-left: 50px;
}
#third {
  text-decoration: underline;
}
.active {
  color: black;
}
.background {
  background-color: #c4c4c463;
  margin: 30px;
  margin-top: 0px;
  border-radius: 25px;
  padding: 40px;
}
/* Main Page Section */
.heading {
  text-align: center;
}
.container {
  margin-top: 60px;
}
.col {
  text-align: center;
  border-right: #000 1px solid;
  height: 600px;
}
.col1 {
  border-right: #000 0px solid;
}
.carousel-inner {
  text-align: -webkit-center;
}
.width {
  width: 55%;
}
.bottomtexts {
  margin-top: 50px;
}
.line {
  border: 0.5px solid black;
  margin: 40px 90px;
}
.form-floating {
  margin: 30px 140px;
  color: #363636;
  width: 60%;
}
.form-control {
  background-color: #0000002f;
}
.bid {
  margin-top: 30px;
}
