/* Navbar Section */
.navbar-nav > li {
  padding-left: 30px;
  padding-right: 105px;
}
li:hover {
  text-decoration: underline;
}
#first {
  border-left: 2px solid #000;
  padding-left: 50px;
}
#forth {
  text-decoration: underline;
}
.active {
  color: black;
}
.background {
  background-color: #c4c4c463;
  margin: 30px;
  margin-top: 0px;
  border-radius: 25px;
  padding: 40px;
}
/* Main Body Section */
.heading {
  margin-left: 50px;
}
.col {
  margin-top: 40px;
}
.heading1,
.dropdown,
.car-details {
  display: inline-block;
}
.location {
  margin-left: 7%;
  font-size: larger;
}
.dropdown {
  margin-left: 5px;
}
.card {
  margin-left: 30px;
  border-radius: 5px;
}
.card-body {
  background-color: #2d2f36;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.row {
  align-items: center;
}
.card-title {
  text-align: start;
}
.button {
  margin-top: 10px;
}
.card-text {
  display: inline-block;
}
.arrow {
  margin-left: 130px;
}
.width {
  width: 55%;
}
.last {
  display: flex;
}
.carousel-inner {
  text-align: -webkit-center;
}
.line1 {
  border: 0.1px solid black;
  margin: 0 90px;
}
.toptexts,
.bottomtexts {
  text-align: start;
  margin: 20px 0;
  margin-left: 140px;
}
.text {
  margin-right: 70px;
  font-weight: bolder;
}
.first {
  margin-top: 30px;
}
.scroll {
  width: 600px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}