<%-include("header")-%> 
  <div class="background">
      <h3 class="heading">Select a Brand</h3>
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <form action="/updatecompany" method="post">
            <input type="hidden" name="companyname" value="Tata" /> 
            <a onclick="this.parentNode.submit();"
              ><img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.44.29.png"
                width="162"
                height="104"
                alt="Company Logo"
            /></a>
            </form>
          </div>
          <div class="col">
            <form action="/updatecompany" method="post">
            <input type="hidden" name="companyname" value="Maruthi Suzuki" />  
            <a aria-current="page" onclick="this.parentNode.submit();"
              ><img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.44.47.png"
                width="162"
                height="104"
                alt="Company Logo"
            /></a>
            </form>
          </div>
          <div class="col">
            <form action="/updatecompany" method="post">
            <input type="hidden" name="companyname" value="Hyndai" /> 
            <a aria-current="page" onclick="this.parentNode.submit();"
              ><img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.45.04.png"
                width="162"
                height="104"
                alt="Company Logo"
            /></a>
            </form>
          </div>
          <div class="col">
              <form action="/updatecompany" method="post">
              <input type="hidden" name="companyname" value="Mahindra" /> 
            <a aria-current="page" onclick="this.parentNode.submit();"
              ><img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.45.22.png"
                width="162"
                height="104"
                alt="Company Logo"
            /></a>
            </form>
          </div>
          <div class="col">
              <form action="/updatecompany" method="post">
              <input type="hidden" name="companyname" value="Toyota" /> 
            <a aria-current="page" onclick="this.parentNode.submit();"
              ><img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.45.31.png"
                width="162"
                height="104"
                alt="Company Logo"
            /></a>
            </form>
          </div>
          <div class="col">
              <form action="/updatecompany" method="post">
              <input type="hidden" name="companyname" value="Kia" /> 
            <a aria-current="page" onclick="this.parentNode.submit();"
              ><img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.45.44.png"
                width="162"
                height="104"
                alt="Company Logo"
            /></a>
            </form>
          </div>
        </div>
        <div class="row align-items-start row2">
          <div class="col">
              <form action="/updatecompany" method="post">
              <input type="hidden" name="companyname" value="MG" /> 
            <a aria-current="page" onclick="this.parentNode.submit();"
              ><img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.45.58.png"
                width="162"
                height="104"
                alt="Company Logo"
            /></a>
            </form>
          </div>
          <div class="col">
              <form action="/updatecompany" method="post">
              <input type="hidden" name="companyname" value="Honda" /> 
            <a aria-current="page" onclick="this.parentNode.submit();"
              ><img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.46.11.png"
                width="162"
                height="104"
                alt="Company Logo"
            /></a>
            </form>
          </div>
          <div class="col">
              <form action="/updatecompany" method="post">
              <input type="hidden" name="companyname" value="Mercedes-Benz" /> 
            <a aria-current="page" onclick="this.parentNode.submit();"
              ><img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.46.24.png"
                width="162"
                height="104"
                alt="Company Logo"
            /></a>
            </form>
          </div>
          <div class="col">
              <form action="/updatecompany" method="post">
              <input type="hidden" name="companyname" value="Volkswagen" /> 
            <a aria-current="page" onclick="this.parentNode.submit();">
                <img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.46.43.png"
                width="162"
                height="104"
                alt="Company Logo"
            /></a>
            </form>
          </div>
          <div class="col">
              <form action="/updatecompany" method="post">
              <input type="hidden" name="companyname" value="Skoda" /> 
            <a aria-current="page" onclick="this.parentNode.submit();"
              ><img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.46.54.png"
                width="162"
                height="104"
                alt="tata logo"
            /></a>
            </form>
          </div>
          <div class="col">
              <form action="/updatecompany" method="post">
              <input type="hidden" name="companyname" value="BMW" /> 
            <a aria-current="page" onclick="this.parentNode.submit();" 
              ><img
                src="images/Company Logos/Screenshot 2021-10-25 at 21.47.10.png"
                width="162"
                height="104"
                alt="Company Logo"
            /></a>
            </form>
          </div>
        </div>
        <form action="/updatecompany" method="post">
        <button type="submit" class="btn-dark btn mar" name="companyname" value="AllCompanies">All Companies</button>
        </form>
      </div>
    </div>
  </body>
</html>
