<%-include("header")-%> 
<div class="background">
      <!-- Form Section -->
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <h3 class="heading">Enter the details to post your car</h3>
            <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-floating">
              <input
                type="text"
                class="form-control top"
                placeholder="First Name"
                name="firstname"
                required
                autocomplete="off"
              />
              <label for="floatingInput">Your Name</label>
            </div>
            <select name="company" class="form-select carcompany" aria-label="Default select example" required>
              <option selected>Select your cars company</option>
              <option value="Tata">Tata</option>
              <option value="Maruti Suzuki">Maruti Suzuki</option>
              <option value="Hyundai">Hyundai</option>
              <option value="Mahindra">Mahindra</option>
              <option value="Toyota">Toyota</option>
              <option value="Kia">Kia</option>
              <option value="MG">MG</option>
              <option value="Honda">Honda</option>
              <option value="Mercedes-Benz">Mercedes-Benz</option>
              <option value="Volkswagen">Volkswagen</option>
              <option value="Skoda">Skoda</option>
              <option value="BMW">BMW</option>
            </select>
            <div class="form-floating">
              <input
                type="text"
                class="form-control top"
                placeholder="Car Name"
                name="carname"
                required
                autocomplete="off"
              />
              <label for="floatingInput">Car Name</label>
            </div>
            <div class="form-floating">
              <input
                type="number"
                class="form-control top"
                placeholder="Selling Price"
                name="sellingprice"
                required
                autocomplete="off"
              />
              <label for="floatingInput">Selling Price (in ₹)</label>
            </div>
            <div class="form-floating">
              <input
                type="number"
                class="form-control top"
                placeholder="Total KM Driven"
                name="totalkmdriven"
                required
                autocomplete="off"
              />
              <label for="floatingInput">Total KM Driven (in Km)</label>
            </div>
            <div class="form-floating">
              <input
                type="number"
                class="form-control top"
                placeholder="Mobile Number"
                name="mobilenumber"
                required
                autocomplete="off"
              />
              <label for="floatingInput">Mobile Number</label>
            </div>
            <select name="location" class="form-select carcompany" aria-label="Default select example" required>
              <option selected>Select your location</option>
              <option value="Bangalore">Bangalore</option>
              <option value="Hyderabad">Hyderabad</option>
              <option value="Chennai">Chennai</option>
              <option value="Thiruvananthapuram">Thiruvananthapuram</option>
              <option value="Mumbai">Mumbai</option>
            </select>
          </div>
          <div class="col">
            <h3 class="heading">Upload your Images</h3>
            <h6 class="text">
              Make sure you upload the recent 4 landscape images of all sides and
              with good resolution below 5mb
            </h6>
            <div class="mb-3 choose">
              <input
                name="images"
                class="form-control"
                type="file"
                id="images"
                multiple
                required
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col col-last">
            <h3 class="heading">Final Check</h3>
            <h6 class="text text1">
              I have entered correct details up to my knowledge and am
              responsible for any wrong information provided
            </h6>
            <button type="submit" class="btn btn-dark btn-md upload">
              Upload Details
            </button>
            </form>
            <h5 class="text"><%= status %> </h5>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
